*{
    margin: 0;
    padding: 0;
}

:root{
    --navbar-height: 59px;
}

#navbar{
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 3.8rem;
}
#navbar{
    position: absolute;
    
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: yellow;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: yellow;
    background-color: black;

    
}
#home{
    display: flex;
    
    flex-direction: column;
    padding: 3px 200px;
    height: 628px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background:url(images/not.jpg) no-repeat center center/cover;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    
}


#home h1{
    color: black;
    text-align: center;
    font-family: 'Bree Serif',serif;

}
#home p{
    color: black;
    text-align: center;
    font-size: 1.8rem;
}


#services{
    margin:34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 25px;
    border-radius: 28px;
    background: #f2f2f2;

}
#services-container::before{
    content: "";
    position: absolute;
    background: url(images/do.avif) no-repeat  center center/cover;
    width: 100%;
    height: 65%;
    z-index: -1;
    opacity: 0.4;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
    
}

#client-section{
    position: relative;
    height: 344px;

}
#client-section::before{
    content: "";
    position: absolute;
    background: url(images/ao.jpg) no-repeat  center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-item{
    padding: 34px;

}

#clients img{
    height: 234px;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(images/not.jpg) no-repeat center center/cover;
    opacity: 0.4;
}


#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.4rem;
}


footer{
    background:black;
    color: white;
    padding: 9px 20px;
}




.h-primary{
    font-family: 'Bree Serif',serif;
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;

}
.h-secondary{
    font-size: 2.8rem;
    font-family: 'Bree Serif',serif;
    padding: 12px;
    text-align: center;

}
.btn{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 25px;
    font-size: 15px;
    cursor: pointer;
}

